.navbar{
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}
.nav{
  display: flex;
  justify-content: space-between;
margin-bottom: 100px;
}
.about{
  text-align: center;
  color: black;
}


.piz1{
  display: flex;
  justify-content: space-between;
  float: left;

}
.pic4{
  display: flex;
  justify-content: space-between;
  float: left;
}
