.body{
  font-family: 'Times New Roman', Times, serif;

}

.navbar{
  background-image: url(images/bgk.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: space-between;
  color:yellow;
background-color: black;
}

.header{
  text-align: center;
  padding-bottom: 80px;
  margin-bottom: -50px;
}

.about{
  text-align: center;
  color:black;
  
}
.menu{
  text-align: center;
}
.piz{
  display: flex;
  justify-content: space-evenly;
  border-color: white;
  background-color: black;
  color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;

}
.piz button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.pic4{
  display: flex;
  justify-content: space-evenly;
  border-color: white;
  background-color: black;
  color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.pic4 button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}

input[type=submit] {
  width: 100%;
  background-color: #545c4b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.d{
  width: 50%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 20%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  
}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}
