.body{
  font-family: 'Times New Roman', Times, serif;
}

.navbar{
  background-image: url(images/bgk.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: space-between;
  color:yellow;

}

.navbar pik{
  padding-right: 40px;
  margin-top: -60px;
}
.navbar li{
  color: yellow;
}

.about{
  text-align: center;
  color: white;
}
.piz{
  display: flex;
  justify-content: space-evenly;
  border: black;
}


.pic4{
  display: flex;
  justify-content: space-evenly;
 
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}

input[type=submit] {
  width: 100%;
  background-color: #545c4b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.d{
  width: 50%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 20%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  
}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}
